:root {
  --primary-color: #d9534f;
}

body {
  font-family: 'Muli', sans-serif;
}

.container {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

#heading {
  padding-bottom: 10px;

}

.question-header {
  font-size: 20px;
}

#output {
  display: none;
}

.form-group > .row {
   border-left: 1px solid var(--primary-color);
}

#small-pic {
  height: 80px;
}

#medium-pic {
  height: 100px;
}

#large-pic {
  height: 120px;
}

.topping-pic {
  height: 50px;
}

label {
  text-align: center;
}

button {
  margin-top: 50px;
  margin-bottom: 50px;
}

.output-pic {
  height: 80px;
  padding: 20px;
}

.pic-output-holder {
  margin: auto 0;
  width: 100%;
}
#output {
  text-align: center;
}
